<!doctype html>

<html lang="en" class="h-100">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- font awesome link CSS-->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Animate csslink-->
    <link rel="stylesheet" href="/stylesheets/animate.css" type="text/css">


    <!-- GOOGLE FONT -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500|Source+Sans+Pro:200i,300,300i"
          rel="stylesheet">

    <!-- LOGO -->
    <link rel="icon" type="image/png" href="/images/minilogo.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/stylesheets/AdminStyleSheet.css" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Admin Login</title>
</head>
<body class="h-100">
<div class="container h-100" id="root">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-12">
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="box">
                        <img src="../images/login.png" class="admin-login">
                        <div class="form-group">
                            <label class="label" for="exampleInputEmail1">Username </label>
                            <input type="text" class="form-control" placeholder="Enter Username">
                        </div>
                        <div class="form-group">
                            <label class="label" for="exampleInputPassword1">Password</label>
                            <input type="password" class="form-control " id="fPassword" placeholder="Enter Password">
                        </div>

                        <button @click="getMyPass" type="button" class="btn btn-danger">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/javascripts/wow.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.5/lodash.min.js"></script>

<script>

    var app = new Vue({
        el: "#root",
        data: {},
        methods: {
            getMyPass: function () {
                if (document.getElementById('fPassword').value == "123") {
                    window.location.href = '/books';
                } else {
                    alert("error message")
                }
            }
        }
    });
</script>

</body>
</html>

// function checkForBlank()
// {
//
//     if (document.getElementById('femail').value == "")
//         alert('please enter your email')
//     document.getElementById('femail').style.borderBottom = "#bb1010" ;
//     return false;
//     }
<!--method="post" action="#" onsubmit="return checkForBlank()"-->