<!doctype html>
<html lang="en">
<head>
    <title>Welcome to E-Library|CRUD APP</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- my style sheet link-->
    <link rel="stylesheet" href="/stylesheets/homepage.css" type="text/css">

    <!-- Animate csslink-->
    <link rel="stylesheet" href="/stylesheets/animate.css" type="text/css">


    <!-- FONT Awesome -->
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500|Source+Sans+Pro:200i,300,300i"
          rel="stylesheet">

    <!-- LOGO -->
    <link rel="icon" type="image/png" href="/images/minilogo.png">

</head>
<body>


<header class="bghead" id="HOME">

    <!-- NAVBAR -->

    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4  fixed-top nav-styles   ">

        <img src="../images/vfff.png" class="my-0 mr-md-auto font-weight-normal logo-style"/>
        <nav class="my-2 my-md-0 mr-md-3 navbar-style ">
            <a class="p-2  nav-item active" href="#HOME">Home<span class="sr-only">(current)</span></a>
            <a class="p-2  nav-item" href="#ABOUT APP">About APP</a>

            <a class="btn btn-outline-primary btn-login" href="http://localhost:3000/admin">Log in</a>
        </nav>

    </div>


    <div class="header-overlay" id="HOME">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="jumbotron jumbotron-fluid bgcolor">
                        <div class="container ">
                            <h1 class="display-4 bgtext wow fadeInRight "> welcome to my homepage and have a greate
                                time! </h1>
                            <p class="lead bgtext1 wow fadeInRight ">Discover My Website! </p>
                        </div>
                    </div>
                    <div class="bg-button">
                        <a class="btn btn-taketour wow fadeInLeft" href="#ABOUT APP"> Take a Tour
                            <i class="fas fa-angle-down"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>

<!-- About Application Section-->
<main role="main">
    <section id="ABOUT APP">

        <section class="jumbotron text-center aboutus-style">
            <div class="container mt-5">
                <h2 class="jumbotron-heading aboutus-head wow bounceIn">ABOUT APP.</h2>
                <hr class="featuret-header wow fadeInDown" data-wow-duratio="1s" data-wow-delay=".5s" width="120px">
                <p class="text-muted wow fadeInUp" data-wow-duratio="1s" data-wow-delay=".5s">Do you hear about CRUD
                    Application?
                    If you Don't, CRUD is an Abbreviation of Create, Read, Update, and Delete. These Operations are
                    Handled by an Admin
                    on the Server Side. If you are Interested about That, just Click on <b> Log in </b>
                    Button </p>
            </div>

            <section class="aboutApp">
                <div class="container mt-5">
                    <div class="row text-center wow fadeInLeft" data-wow-duratio="1s" data-wow-delay=".5s">

                        <div class="col-md-3">
                            <div class="about-items  ">
                                <div class="faClass "><i class="far fa-plus-square mb-3"></i>
                                    <h2 class="nn">CREATE</h2>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="about-items">
                                <div class="faClass"><i class="fab fa-rendact mb-3"></i>
                                    <h2>READ</h2>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="about-items">
                                <div class="faClass"><i class="far fa-edit mb-3"></i>
                                    <h2>UPDATE</h2>
                                </div>

                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="about-items">
                                <div class="faClass "><i class="fas fa-eraser mb-3"> </i>
                                    <h2>DELETE</h2>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>


            </section>
        </section>
    </section>

</main>

<!--some fun facts-->
<section class="jumbotron text-center aboutus-style">
    <div class="container mt-5">
        <h2 class="jumbotron-heading aboutus-head wow bounceIn">Some Fun Facts.</h2>
        <hr class="featuret-header wow fadeInDown" data-wow-duratio="1s" data-wow-delay=".5s" width="120px">
        <p class="text-muted wow fadeInUp" data-wow-duratio="1s" data-wow-delay=".5s"> These Facts are Based on the
            Technologies and Programming Languages That i Have Used in This Website.
            The Percent Average is Taken From my Repository on Github </p>
    </div>
</section>
<!-- Counters -->

<section class="counters " id="COUNTER">
    <div class="counter-overlay">
        <div class="container">
            <div class="row text-center  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">

                <div class="col-md-3">
                    <div class="counter-items">
                        <div><i class="fab fa-html5"></i></div>
                        <h2><span class="counter-num">60.3</span><span>%</span></h2>
                        <p>HTML v5</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="counter-items">
                        <div><i class="fab fa-css3-alt"></i></div>
                        <h2><span class="counter-num">61.4</span><span>%</span></h2>
                        <p>CSS v3</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="counter-items">
                        <div><i class="fab fa-js-square"></i></div>
                        <h2><span class="counter-num">37.2</span><span>%</span></h2>
                        <p>JavaScript</p>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="counter-items">
                        <div><i class="fas fa-code"></i></div>
                        <h2><span class="counter-num">15</span><span>%</span></h2>
                        <p>Others</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="jumbotron text-center aboutus-style">
    <div class="container mt-5">
        <h2 class="jumbotron-heading aboutus-head wow bounceIn">Contact Us.</h2>
        <hr class="featuret-header wow fadeInDown" data-wow-duratio="1s" data-wow-delay=".5s" width="120px">
        <p class="text-muted wow fadeInUp" data-wow-duratio="1s" data-wow-delay=".5s"> If You Have Any Question About My
            Website, Feel Free and Do Not Hesitate
            to Contact Me </br> The Following Social Media Links are Right There!</p>
    </div>
</section>

<div class="container">
    <div class="row">

        <div class="col-md-12 wow bounceInLeft">

            <div class="social-icons">

                <ul>

                    <li><a href="https://www.facebook.com/zina.hasan1" class="social-call"><i
                                    class="fab fa-facebook-square contact-us"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/zena-hasan-45055b135" class="social-call"><i
                                    class="fab fa-linkedin contact-us"></i></a></li>
                    <li><a href="https://plus.google.com/u/0/111184324547741638929" class="social-call"><i
                                    class="fab fa-google-plus-square contact-us"></i></a></li>

                </ul>
            </div>
        </div>
    </div>
</div>
</section>

<!--FOOTER-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="copy-right">
                    <p>Copyright &copy; 2018. All Right Reserved</p>
                </div>
            </div>
        </div>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/2.0.0/jquery.localScroll.min.js"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="/javascripts/custom.js"></script>
<script src="/javascripts/jquery.waypoints.min.js"></script>
<script src="/javascripts/jquery.counterup.min.js"></script>
<script src="/javascripts/wow.min.js"></script>


</body>
</html>
