<!--<!doctype html>-->
<!--<html lang="en">-->
<!--<head>-->
  <!--&lt;!&ndash; Required meta tags &ndash;&gt;-->
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->

<!--&lt;!&ndash; font awesome link CSS&ndash;&gt;-->
  <!--<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">-->

  <!--&lt;!&ndash; GOOGLE FONT &ndash;&gt;-->
  <!--<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500|Source+Sans+Pro:200i,300,300i" rel="stylesheet">-->

  <!--&lt;!&ndash; LOGO &ndash;&gt;-->
  <!--<link rel="icon" type="images/png" href="/images/minilogo.png">-->

  <!--&lt;!&ndash; Bootstrap CSS &ndash;&gt;-->
 <!--<link rel="stylesheet" href="/stylesheets/sheet2.css" type="text/css">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">-->
  <!--<title>Hello, world!</title>-->
<!--</head>-->
<!--<body class="bg-light">-->
<!--<header class="bghead" id="HOME">-->

  <!--&lt;!&ndash; NAVBAR &ndash;&gt;-->
<!--<div class="container">-->
  <!--<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 fixed-top nav-section">-->
      <!--<img src="/images/vfff.png" class="my-0 mr-md-auto font-weight-normal logo-style"/>-->
    <!--<nav class="my-2 my-md-0 mr-md-3">-->
      <!--<a class="p-2 " href="#">Home</a>-->
      <!--<a class="p-2 " href="#">Enterprise</a>-->

    <!--</nav>-->

  <!--</div>-->
<!--</div>-->
<!--</header>-->

<!--<div class="container " id="root">-->

  <!--<div class="row  align-items-center justify-content-center ">-->
    <!--<div class="col-md-8">-->
      <!--<div class="jumbotron jumbotron-fluid bgcolor text-center mt-5">-->
        <!--<div class="container ">-->
          <!--<h1 class="display-4 bgtext "> {{headOne}} </h1>-->
          <!--<p class="lead bgtext1">{{p}} </p>-->
            <!--<button class="btn btn-success"  @click="openAddModal"> Add New Cartoon </button>-->

        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

<!--<div class="container">-->


  <!--&lt;!&ndash; Add of Modal &ndash;&gt;-->
  <!--<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
    <!--<div class="modal-dialog" role="document">-->
      <!--<div class="modal-content modal-style">-->
        <!--<div class="modal-header ">-->
          <!--<h5 class="modal-title" id="exampleModalLabel">Add New Cartoon</h5>-->
          <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--<span aria-hidden="true">&times;</span>-->
          <!--</button>-->
        <!--</div>-->
        <!--<div class="modal-body">-->
          <!--<form>-->
            <!--<div class="form-group">-->
              <!--<label class="text-white">Cartoon Name</label>-->
              <!--<input v-model="newCartoon.name" type="text" class="form-control" >-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label>Description</label>-->
              <!--<input v-model="newCartoon.description" type="text" class="form-control" >-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label>Episodes Count</label>-->
              <!--<input v-model="newCartoon.episodesCount" type="text" class="form-control"  >-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label>Image</label>-->
              <!--<input v-model="newCartoon.image" type="text" class="form-control" >-->
            <!--</div>-->
            <!--<div class="form-group">-->
              <!--<label>Song</label>-->
              <!--<input v-model="newCartoon.song" type="text" class="form-control"  >-->
            <!--</div>-->
            <!--<div class="form-check">-->
              <!--<input v-model="newCartoon.isAiring" type="checkbox" class="form-check-input" >-->
              <!--<label  class="form-check-label" >Is Airing</label>-->
            <!--</div>-->
          <!--</form>-->
        <!--</div>-->
        <!--<div class="modal-footer">-->
          <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
          <!--<button  @click="addCartoon" type="button" class="btn btn-primary">Add</button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <!--&lt;!&ndash; end of Add of Modal&ndash;&gt;-->

    <!--&lt;!&ndash; Edit of Modal&ndash;&gt;-->
    <!--<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
        <!--<div class="modal-dialog" role="document">-->
            <!--<div class="modal-content modal-style">-->
                <!--<div class="modal-header ">-->
                    <!--<h5 class="modal-title" id="exampleModalLabel">Edit Cartoon</h5>-->
                    <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
                        <!--<span aria-hidden="true">&times;</span>-->
                    <!--</button>-->
                <!--</div>-->
                <!--<div class="modal-body">-->
                    <!--<form>-->
                        <!--<div class="form-group">-->
                            <!--<label class="text-white">Cartoon Name</label>-->
                            <!--<input v-model="editingCartoon.name" type="text" class="form-control" >-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>Description</label>-->
                            <!--<input v-model="editingCartoon.description" type="text" class="form-control" >-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>Episodes Count</label>-->
                            <!--<input v-model="editingCartoon.episodesCount" type="text" class="form-control"  >-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>Image</label>-->
                            <!--<input v-model="editingCartoon.image" type="text" class="form-control" >-->
                        <!--</div>-->
                        <!--<div class="form-group">-->
                            <!--<label>Song</label>-->
                            <!--<input v-model="editingCartoon.song" type="text" class="form-control"  >-->
                        <!--</div>-->
                        <!--<div class="form-check">-->
                            <!--<input v-model="editingCartoon.isAiring" type="checkbox" class="form-check-input" >-->
                            <!--<label  class="form-check-label" >Is Airing</label>-->
                        <!--</div>-->
                    <!--</form>-->
                <!--</div>-->
                <!--<div class="modal-footer">-->
                    <!--<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>-->
                    <!--<button @click="saveEditing" type="button" class="btn btn-primary">Save</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--&lt;!&ndash;end of edit of Modal&ndash;&gt;-->

    <!--<div class="row justify-content-center mt-3">-->
    <!--<div class="col-md-7">-->


          <!--<table class="table table-hover table-bordered table-striped table-condensed">-->
            <!--<thead class="thead-dark">-->
            <!--<tr class="text-center">-->
              <!--<th>NO</th>-->
              <!--<th>Name</th>-->
              <!--<th>Is Airing</th>-->
              <!--<th>Episodes Count</th>-->
              <!--<th>Edit</th>-->
                <!--<th>Delete</th>-->


            <!--</tr>-->
            <!--</thead>-->
              <!--<tbody class="bg-light">-->

            <!--<tr v-for="(cartoon,index) in cartoons"  class=" text-center ">-->
              <!--<td>{{index+1}}</td>-->
              <!--<td>{{cartoon.name}}</td>-->
              <!--<td>{{cartoon.isAiring}}</td>-->
              <!--<td>{{cartoon.episodesCount}}</td>-->
              <!--<td>-->
                <!--<button @click="openEditModal(cartoon)" class="btn btn-primary btn-sm  px-3"><i class="far fa-edit"></i></button>-->
              <!--</td>-->
                <!--<td>-->
                    <!--<button @click="removeCartoon(cartoon._id)" class="btn btn-danger btn-sm px-4 "><i class="far fa-trash-alt"></i></button>-->
                <!--</td>-->

            <!--</tr>-->



            <!--</tbody>-->
          <!--</table>-->

    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash; Optional JavaScript &ndash;&gt;-->
<!--&lt;!&ndash; jQuery first, then Popper.js, then Bootstrap JS &ndash;&gt;-->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>-->
<!--<script src="https://unpkg.com/axios/dist/axios.min.js"></script>-->

<!--<script>-->
    <!--function getCartoon(){-->
        <!--axios.get('/api/cartoons').then(function (response) {-->
            <!--app.cartoons = response.data;-->
        <!--});-->
    <!--}-->
  <!--var app = new Vue({-->

      <!--el:'#root',-->
      <!--data:{-->
          <!--headOne:"Welcome to CRUD System Controller",-->
          <!--p:"Do CRUD Operations Here!",-->
          <!--cartoons:[],-->
          <!--newCartoon:{-->
              <!--name:"",-->
              <!--isAiring:false,-->
              <!--description:"",-->
              <!--episodesCount:0,-->
              <!--image:"",-->
              <!--song:""-->

          <!--},-->
          <!--editingCartoon:{-->
              <!--name:"",-->
              <!--isAiring:false,-->
              <!--description:"",-->
              <!--episodesCount:0,-->
              <!--image:"",-->
              <!--song:""-->

          <!--}-->

      <!--},-->
      <!--methods:{-->
        <!--openAddModal:function () {-->
            <!--$('#addModal').modal('show')-->
        <!--},-->
          <!--openEditModal:function (cartoon) {-->
            <!--this. editingCartoon = cartoon-->
              <!--$('#editModal').modal('show')-->
          <!--},-->

         <!--addCartoon: function () {-->
        <!--if (this.newCartoon.name == ""){-->
         <!--alert("Please Full The Form");-->
       <!--}else {-->
                <!--axios.post('/api/cartoons', {cartoon: app.newCartoon}).then(function (response) {-->
                    <!--console.log(response.data.message)-->
                    <!--if (response.data.isSuccess) {-->
                        <!--getCartoon()-->

                        <!--$('#addModal').modal('hide')-->
                    <!--}-->

                <!--}).catch(function (error) {-->
                    <!--console.log("error")-->

                <!--});-->
            <!--}-->
        <!--},-->
          <!--saveEditing:function () {-->
                <!--axios.put('/api/cartoons', {cartoon:this.editingCartoon}).then(function(response){-->
                    <!--if (response.data.isSuccess) {-->
                        <!--$('#editModal').modal('hide');-->
                        <!--getCartoon();-->
                    <!--}-->

                <!--})-->
          <!--},-->
          <!--removeCartoon:function(id) {-->
           <!--axios.delete('/api/cartoons',{params:{id:id}}).then(function (response){-->
               <!--if (response.data.isSuccess){-->
                   <!--getCartoon()-->
               <!--}-->
           <!--})-->
          <!--}-->

      <!--},-->
      <!--mounted: function () {-->
         <!--getCartoon()-->
      <!--}-->


      <!--});-->





<!--</script>-->

<!--</body>-->
<!--</html>-->